aeidon==1.15
aiohappyeyeballs==2.6.1
aiohttp==3.10.11
aiosignal==1.3.2
annotated-types==0.7.0
anyio==4.8.0
apt-xapian-index==0.49
aptdaemon==2.0.2
apturl==0.5.2
arandr==0.1.11
argcomplete==3.5.3
async-timeout==5.0.1
attrs==25.1.0
autocommand==2.2.2
autokey==0.96.0
Automat==24.8.1
babel==2.17.0
bcc==0.30.0
bcrypt==4.2.0
beautifulsoup4==4.13.3
blinker==1.9.0
Bottleneck==1.4.2
Brlapi==0.8.6
Brotli==1.1.0
bs4==0.0.2
build==1.2.2
certifi==2025.10.5
chardet==5.2.0
charset-normalizer==3.4.1
cheroot==10.0.1+ds1
click==8.1.8
cloud-init==25.2
command-not-found==0.3
configobj==5.0.9
constantly==23.10.4
contourpy==1.3.1
cryptography==43.0.0
cups-of-caffeine==2.9.12
cupshelpers==1.0
cwcwidth==0.1.10
cycler==0.12.1
dbus-fast==2.44.1
dbus-python==1.3.2
decorator==5.1.1
defer==1.0.6
defusedxml==0.7.1
deja-dup-caja==0.0.9
diff-match-patch==20241021
dill==0.3.9
DisplayCAL==0.0.0
distro==1.9.0
distro-info==1.13
dnspython==2.7.0
duplicity==3.0.4
email_validator==2.2.0
et_xmlfile==2.0.0
evdev==1.9.1
ewmh==0.1.6
fasteners==0.18
fido2==1.2.0
Flask==3.1.3
folder-color-caja==0.0.86
folder-color-common==0.0.86
fonttools==4.55.3
freetype-py==2.5.1
frozenlist==1.5.0
fs==2.4.16
fuse-python==1.0.9
gevent==24.11.1
greenlet==3.2.4
gyp-next==0.16.2
h11==0.14.0
h5py==3.13.0
h5py._debian_h5py_serial==3.13.0
html5lib-modern==1.2
httpcore==1.0.7
httplib2==0.22.0
httpx==0.28.1
hyperlink==21.0.0
idna==3.10
ifaddr==0.2.0
importlib_metadata==8.6.1
incremental==24.7.2
indicator-cpufreq==0.2.2
inflect==7.3.1
iniconfig==1.1.1
iniparse==0.5
input-remapper==2.1.1
itsdangerous==2.2.0
jaraco.classes==3.4.0
jaraco.context==6.0.1
jaraco.functools==4.1.0
jaraco.text==4.0.0
jeepney==0.8.0
Jinja2==3.1.5
jiter==0.13.0
joblib==1.4.2
jsonpatch==1.32
jsonpointer==2.4
jsonschema==4.19.2
jsonschema-specifications==2023.12.1
jupyter_client==8.6.3
jupyter_core==5.7.2
keyring==25.6.0
kiwisolver==1.4.7
language-selector==0.1
launchpadlib==2.1.0
lazr.restfulclient==0.14.6
lazr.uri==1.0.6
legacy-cgi==2.6.2
Levenshtein==0.27.0
libevdev==0.11
louis==3.32.0
lxml==5.3.2
lz4==4.4.0+dfsg
Magnus==1.0.3
Mako==1.3.8.dev0
Markdown==3.7
markdown-it-py==3.0.0
MarkupSafe==2.1.5
mate-hud==22.10.3
mate-menu==22.4.2
mate-tweak==22.10.0
matplotlib==3.8.3
mdurl==0.1.2
meson==1.7.0
mistletoe==1.4.0
mofapy==1.2
monotonic==1.6
more-itertools==10.6.0
mpmath==1.3.0
multidict==6.2.0
mutagen==1.47.0
nala==0.15.4
netaddr==1.3.0
ntpsec==1.2.3
numexpr==2.10.2
numpy==2.2.3
oauthlib==3.2.2
odfpy==1.4.2
olefile==0.47
onboard==1.4.1
openai==2.26.0
openpyxl==3.1.5
outcome==1.3.0.post0
packaging==24.2
pandas==2.2.3+dfsg
paramiko==3.5.1
passlib==1.7.4
pcp==5.0
pexpect==4.9.0
phply==1.2.6
pillow==11.1.0
pipx==1.7.1
platformdirs==4.3.6
playwright==1.55.0
pluggy==1.5.0
ply==3.11
pooch==1.8.2
protobuf==4.21.12
proton-core==0.7.3
proton-keyring-linux==0.2.1
proton-vpn-api-core==5.0.1
proton-vpn-daemon==0.13.6
proton-vpn-gtk-app==4.15.3
proton-vpn-network-manager==0.13.5
psutil==5.9.8
ptyprocess==0.7.0
pulsemixer==1.5.1
py-cpuinfo==9.0.0
pyasn1==0.6.1
pyasn1_modules==0.4.1
pyasyncore==1.0.2
pycairo==1.27.0
PyChromecast==9.4.0
pycryptodomex==3.20.0
pycups==2.0.4
pydantic==2.10.6
pydantic_core==2.27.2
pydbus==0.6.0
pyee==13.0.0
pyenchant==3.3.0rc1
Pygments==2.18.0
PyGObject==3.50.0
PyHamcrest==2.1.0
PyHoca-CLI==0.6.1.3
pyinotify==0.9.6
PyJWT==2.10.1
pylibacl==0.7.2
PyNaCl==1.5.0
pyOpenSSL==25.0.0
pyparsing==3.1.2
pyproject_hooks==1.2.0
PyQt5==5.15.11
PyQt5_sip==12.17.0
PyQt6==6.8.1
PyQt6_sip==13.10.0
PySDL2==0.9.17
pyserial==3.5
PySocks==1.7.1
pytest==8.3.5
python-apt==3.0.0+ubuntu0.25.4.1
python-dateutil==2.9.0
python-debian==1.0.1+ubuntu1
python-gnupg==0.5.4
python-magic==0.4.27
python-periphery==2.4.1
python-xlib==0.33
pytz==2025.1
pyudev==0.24.3
pyusb==1.2.1.post2
pyxattr==0.8.1
pyxdg==0.28
PyYAML==6.0.2
pyzmq==26.2.1
QScintilla==2.14.1
QtPy==2.4.2
RapidFuzz==3.12.1
referencing==0.35.1
reportlab==4.3.1
requests==2.32.3
rich==13.9.4
rlPyCairo==0.3.0
rpds-py==0.21.0
ruamel.yaml==0.18.10
ruamel.yaml.clib==0.2.12
scikit-learn==1.4.2
scipy==1.14.1
scour==0.38.2
screen-resolution-extra==0.0.0
SecretStorage==3.3.3
selenium==4.36.0
Send2Trash==1.8.3
sentry-sdk==2.18.0
service-identity==24.2.0
setproctitle==1.3.5
setuptools==75.8.0
shellingham==1.5.4
simplejson==3.19.3
six==1.17.0
sklearn-pandas==2.2.0
sniffio==1.3.1
socksio==1.0.0
sortedcontainers==2.4.0
soupsieve==2.6
speedtest-cli==2.1.3
spidev==3.6
ssh-import-id==5.11
sympy==1.13.3
systemd-python==235
tables==3.10.2
terminator==2.1.4
threadpoolctl==3.1.0
toml==0.10.2
tomli==2.2.1
tornado==6.4.2
tqdm==4.67.1
traitlets==5.14.3
translate-toolkit==3.15.1
trio==0.31.0
trio-websocket==0.12.2
Twisted==24.11.0
typeguard==4.4.2
typer==0.15.2
typing_extensions==4.15.0
ubuntu-drivers-common==0.0.0
ubuntu-pro-client==8001
ufoLib2==0.17.0
ufw==0.36.2
unattended-upgrades==0.1
unicodedata2==15.1.0
urllib3==2.5.0
urwid==2.6.16
usb==0.0.83.dev0
usb-creator==0.3.16
userpath==1.9.2
vobject==0.9.8
wadllib==2.0.0
wajig==4.1.3
wcwidth==0.2.13
webencodings==0.5.1
websocket-client==1.9.0
websockets==14.1
Werkzeug==3.1.8
wheel==0.45.1
wsproto==1.2.0
wxPython==4.2.2
x2go==0.6.1.4
xdg==5
xkit==0.0.0
yarl==1.13.1
yt-dlp==2025.3.27
zeroconf==0.146.1
zipp==3.21.0
zope.event==5.0
zope.interface==7.2
